{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <!-- Favicons -->
    <link rel="apple-touch-icon" href="../assets/img/kit/free/apple-icon.png">
    
    <title>
        Dr.MAS
    </title>
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <link rel="stylesheet" href="static/css/material-kit.css?v=2.0.2">
    <!-- Documentation extras -->
    
    
    
    
</head>

<body class="landing-page ">
    <nav class="navbar navbar-color-on-scroll navbar-transparent    fixed-top  navbar-expand-lg " color-on-scroll="100" id="sectionsNav">
        <div class="container">
            <div class="navbar-translate">
                <a class="navbar-brand" href="#">Dr.MAS</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                </button>
                
            </div>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    
                    <li class="nav-item" id="login">
                        <a class="nav-link" href="javascript:void(0)" onclick="scrollToDownload()">
                            {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form class="form-inline" role="form" action="{% url 'mas:login_user'%}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        
                        <div class="form-group">
                            
                            
                                <input id="id_username" maxlength="30" name="username" type="text" placeholder="Username" class="form-control">
                            
                            
                            
                                <input id="id_password" maxlength="30" name="password" type="password" placeholder="Password" class="form-control">
                            

                        
                        
                            
                                <button type="submit" class="btn btn-info">Login</button>
                                <input type="hidden" name="next" value="" />
                        </div>
                    </form>
                        </a>
                    </li>
                    
                </ul>
            </div>
        </div>
    </nav>
    <div class="page-header header-filter" data-parallax="true" style=" background-image: url('{% static "images/background.jpg" %}'); ">
        <div class="container">
            <div class="row">
            
                <div class="col-md-6">
                    <h1 class="title">Your Silicon Based Doctor.</h1>
                    <h4>Dr. MAS uses an extensive database of recorded medical information to get you quick, reliable medical predictions to get you started on the right track to a visit to an actual doctor. 
<br><br>So please, no more self-diagnoses. Let us help...
                    <button class="btn btn-info btn-raised btn-lg" id="signup">
                        Sign Up for Free</button>
                        
                </div>
                
                <div class="col-md-6" id="page">
                <span id="close" style="float: right; cursor:pointer;">close</span>
        <center><div class="well" style="height: 350px; width: 350px;">
      <form class="form-horizontal" role="form" action="{% url 'mas:signup'%}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <h3 class="title">Sign Up</h3>
      <!--<p>Please fill in this form to create an account.</p>-->

      <div class="form-group" style="padding-top: 0px;">
      
      <input type="text" placeholder="Username" name="username" required class="form-control" >
      </div>
      <div class="form-group form-inline" >
      
      <input type="text" placeholder="First name" name="firstname" required class="form-control">
      
      
      <input type="text" placeholder="Last name" name="lastname" required class="form-control">
      </div>
      <div class="form-group form-inline" id=pss>
      
      <input type="password" placeholder="Enter Password" name="psw" required class="form-control" id=psw  minlength="8">

      
      <input type="password" placeholder="Repeat Password" name="psw-repeat" required class="form-control" id=repsw>
<div id=warning >!!There must be atleast 8 characters</div>
<div id=caution >!Password must match</div>
      </div>
      <div class="form-group form-inline">
      <input type="text" name="age" placeholder="Age" required class="form-control" id=age>
      <select class="form-control" name="sex" required class="form-control" style="width:150px;margin-bottom: 5px;">
        <option>Male</option>
        <option>Female</option></select>
      </div>
      </div>
      <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>

     <button type="submit" class="btn btn-info">Sign Up</button>
    </div>
  </form></div>
                                 </center>
                        </div>
            </div>
        </div>
    </div>
    <div class="main main-raised">
        <div class="container">
            <div class="section text-center">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto">
                        <h2 class="title">What does it do?</h2>
                        <h5 class="description">Simply put, you tell Dr. MAS your symptoms, and it cross-checks them with its extensive database to give you a list of probable medical conditions</h5>
                    </div>
                </div>
                <div class="features">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="info">
                                <div class="icon icon-info">
                                    <img src= "{% static "images/fast.png" %}" alt="Thumbnail Image" class="rounded-circle img-fluid" style="height:100px;width:100px;">
                                </div>
                                <h4 class="info-title">Fast Prediction</h4>
                                <p>No waiting times; you get your list of predictions within x seconds</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="info">
                                <div class="icon icon-success">
                                    <img src= "{% static "images/reliable.png" %}" alt="Thumbnail Image" class="rounded-circle img-fluid" style="height:100px;width:100px;">
                                </div>
                                <h4 class="info-title">Reliable</h4>
                                <p>Our product has a huge pool of data to learn from, with information on over 1000 commonly encountered medical conditions.</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="info">
                                <div class="icon icon-danger">
                                    <img src= "{% static "images/userfriendly.png" %}" alt="Thumbnail Image" class="rounded-circle img-fluid" style="height:100px;width:100px;">
                                </div>
                                <h4 class="info-title">User-Friendly</h4>
                                <p>No complicated medical terminology. Promise!<br>Our list of symptoms are all in layman's terms (so are the conditions and descriptions).</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section text-center">
                <h2 class="title">Here is our team</h2>
                <div class="team">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="team-player">
                                <div class="card card-plain">
                                    <div class="col-md-6 ml-auto mr-auto">
                                        <img src= "{% static "images/najmath.jpg" %}" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid">
                                    </div>
                                    <h4 class="card-title">Najmath Ummer
                                        
                                    </h4>
                                    <div class="card-body">
                                        <p class="card-description">
                                    </div>
                                    <div class="card-footer justify-content-center">
                                        <a href="#pablo" class="btn btn-link btn-just-icon"><i class="fa fa-twitter"></i></a>
                                        <a href="#pablo" class="btn btn-link btn-just-icon"><i class="fa fa-instagram"></i></a>
                                        <a href="#pablo" class="btn btn-link btn-just-icon"><i class="fa fa-facebook-square"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="team-player">
                                <div class="card card-plain">
                                    <div class="col-md-6 ml-auto mr-auto">
                                        <img src= "{% static "images/sanjana.jpg" %}" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid" style="height:100px;width:100px;">
                                    </div>
                                    <h4 class="card-title">Sanjana Thomas
                                        
                                    </h4>
                                    <div class="card-body">
                                        <p class="card-description">
                                    </div>
                                    <div class="card-footer justify-content-center">
                                        <a href="#pablo" class="btn btn-link btn-just-icon"><i class="fa fa-twitter"></i></a>
                                        <a href="#pablo" class="btn btn-link btn-just-icon"><i class="fa fa-linkedin"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="team-player">
                                <div class="card card-plain">
                                    <div class="col-md-6 ml-auto mr-auto">
                                        <img src="{% static "images/aswani.jpg" %}" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid" style="height:100px;width:100px;">
                                    </div>
                                    <h4 class="card-title">Aswani M.S
                                        <br>
                                        
                                    </h4>
                                    <div class="card-body">
                                        <p class="card-description">
                                    </div>
                                    <div class="card-footer justify-content-center">
                                        <a href="#pablo" class="btn btn-link btn-just-icon"><i class="fa fa-twitter"></i></a>
                                        <a href="#pablo" class="btn btn-link btn-just-icon"><i class="fa fa-instagram"></i></a>
                                        <a href="#pablo" class="btn btn-link btn-just-icon"><i class="fa fa-facebook-square"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="team-player">
                                <div class="card card-plain">
                                    <div class="col-md-6 ml-auto mr-auto">
                                        <img src="{% static "images/aparna.jpg" %}" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid">
                                    </div>
                                    <h4 class="card-title">Aparna Devi
                                        <br>
                                        
                                    </h4>
                                    <div class="card-body">
                                        <p class="card-description">
                                    </div>
                                    <div class="card-footer justify-content-center">
                                        <a href="#pablo" class="btn btn-link btn-just-icon"><i class="fa fa-twitter"></i></a>
                                        <a href="#pablo" class="btn btn-link btn-just-icon"><i class="fa fa-instagram"></i></a>
                                        <a href="#pablo" class="btn btn-link btn-just-icon"><i class="fa fa-facebook-square"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer ">
        <div class="container">
            
            <div class="copyright pull-right">
            
                <script>
                    document.write(new Date().getFullYear())
                </script>, made with <i class="material-icons">favorite</i>
                for a better world.
            </div>
        </div>
    </footer>
    <!--   Core JS Files   -->
    <script src="static/js/core/jquery.min.js"></script>
    <script src="static/js/core/popper.min.js"></script>
    <script src="static/js/bootstrap-material-design.js"></script>
    <!--  Plugin for Date Time Picker and Full Calendar Plugin  -->
    <script src="static/js/plugins/moment.min.js"></script>
    <!--    Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
    <script src="static/js/plugins/bootstrap-datetimepicker.min.js"></script>
    <!--    Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
    <script src="static/js/plugins/nouislider.min.js"></script>
    <!-- Material Kit Core initialisations of plugins and Bootstrap Material Design Library -->
    <script src="static/js/material-kit.js?v=2.0.2"></script>
    <script>
    
    $(document).ready(function(){

        $('#page').hide();
       
        $('#signup').click(function(){
            $('#signup').hide();
            $('#login').hide();
            $('#page').show();
             $('#warning').hide();
              $('#caution').hide();

        });
        $('#close').click(function(){
            $('#page').hide();
            $('#login').show();
            $('#signup').show();
        });
        $('#psw').keyup(function(){
        var pass=$('#psw').val()
    if(pass.length<8){
        $('#warning').show();   
    }
    else{
        $('#warning').hide();
    }});

        $('#repsw').keyup(function(){
            var pass=$('#psw').val()
            var repass=$('#repsw').val();
            if(repass != pass){
              $('#caution').show();
            }
            else{
                $('#caution').hide();
            }
        });
});
    </script>
    
</body>

</html>