<!--{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Dr.Mas</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

</head>

<style>
    body, html {
    height: 100%;
    margin: 0;

  }
  .divider {
        height: 1px;
        margin: 9px 0;
        overflow: hidden;
        background-color: #e5e5e5;
    }
 .a{
      height: 28px;
  }
    
  .affix {
      top: 0;
      width: 100%;
  }

  .affix + .container-fluid {
      padding-top: 70px;
  }

   .sidenav {
      padding-top: 20px;
      
      height: 100%;
  }

  .row.content {height: 450px}

/* On small screens, set height to 'auto' for sidenav and grid */
  @media screen and (max-width: 767px) {
      .sidenav {
        height:auto;
        padding: 15px;
  }

  .row.content {height:auto;} 

  </style>

<body>
  
  <nav class=" a navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span> 
        </button>
        <a class="navbar-brand" href="#">logo</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#"><i class="fa fa-home"></i></a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{% url 'mas:logout_user' %}">
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp; Logout
                    </a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="text-center">    
    <div class="row content">
      <div class="col-sm-2 sidenav navbar-inverse" style="color: #ffffff">
        <p>My Profile</p>
              <ul class="nav nav-tabs nav-stacked ">

                <li><img src="{{ user.allusers.avatar.url }}" alt="" class="img-circle" height="120" width="100" alt="" /></li>
                <li><h4>{{user.first_name}} {{user.last_name}}</h4></li>
                <li role="separator" class="divider"></li>
                <li><h4>Sex:{{user.allusers.sex}}</h4></li>
                <li role="separator" class="divider"></li>
                <li><h4>age:{{user.allusers.age}}</h4></li>
                

              </ul>
      </div>
      <div class="col-sm-9">
        <h1>Hello {{user.first_name}} {{user.last_name}}....</h1>
        <h4>Please Specify Your Symptoms</h4>
        <form class="form_horizontal" action="{% url 'mas:accept' %}" method="post" enctype="multipart/form-data" style="align-content: center;" >
        {% csrf_token %}
        <select class="js-example-basic-multiple" name="states" multiple="multiple" style="width:300px">
        {% for sym in all_symptoms %}
        <option value={{sym.syd}}>{{sym.symptoms}}</option>
        {% endfor %}
</select>
        <button type="submit" class="btn btn-success">Submit</button>
        {% for dis in diseases%}
        {% if dis.did == a %}
        <h1>Dr.Mas has diagnosed you with {{dis.diagnose}}</h1>
        {% endif %}
        {% endfor %}
      </div>
      <script>
        $(document).ready(function() {
    $('.js-example-basic-multiple').select2();
});
      </script>

</div>
</body>
</html>-->
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />


    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <!-- Favicons -->
    <link rel="apple-touch-icon" href="static/img/kit/free/apple-icon.png">
    <link rel="icon" href="static/img/kit/free/favicon.png">

    <title>
        Home
    </title>
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <link rel="stylesheet" href="static/css/material-kit.css?v=2.0.2">
    <!-- Documentation extras -->
    
</head>

<body class="profile-page ">
    <nav class="navbar navbar-color-on-scroll navbar-transparent    fixed-top  navbar-expand-sm " color-on-scroll="100" id="sectionsNav">
        <div class="container">
            <div class="navbar-translate">
                <a class="navbar-brand" href="#">Dr.MAS</a>
                
            </div>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    
                    <li class="nav-item">
                       <li><a href="{% url 'mas:logout_user' %}" class="navbar-brand">
                        Logout
                    </a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="page-header header-filter" data-parallax="true" style="background-image: url('{% static "images/background.jpg" %}');"></div>
    <div class="main main-raised">
        <div class="profile-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 ml-auto mr-auto">
                        <div class="profile">
                            <div class="avatar">
                                <img src="{{ user.allusers.avatar.url }}" alt="Circle Image" class="img-raised rounded-circle img-fluid">
                            </div>
                            <div class="name">
                                <h3 class="title">{{user.first_name}} {{user.last_name}}</h3>
                                <h6>Sex:{{user.allusers.sex}} age:{{user.allusers.age}}</h6>
                                
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row" style="padding-top: 100px;">

                    <div class="col-md-12 ml-auto mr-auto">
                    <center>
                    <h4>Hello {{user.first_name}} {{user.last_name}}, Please Specify Your Symptoms</h4>
        <form class="form_horizontal" action="{% url 'mas:accept' %}" method="post" enctype="multipart/form-data" style="align-content: center;" >
        {% csrf_token %}
        <select class="js-example-basic-multiple" name="states" multiple="multiple" style="width:300px">
        {% for sym in all_symptoms %}
        <option value={{sym.syd}}>{{sym.symptoms}}</option>
        {% endfor %}
</select>
        <button type="submit" class="btn btn-info">Submit</button>
        {% for dis in diseases%}
        {% if dis.did == a %}
        <h4>Dr.Mas has diagnosed you with {{dis.diagnose}}</h4>
        {% endif %}
        {% endfor %}
      </div>
      

</div>
    </center>       
    <footer class="footer ">
        <div class="container">
            
            <div class="copyright pull-right">
                &copy;
                <script>
                    document.write(new Date().getFullYear())
                </script>, made with <i class="material-icons">favorite</i> by
                for a better world.
            </div>
        </div>
    </footer>
    <!--   Core JS Files   -->
    <script src="static/js/core/jquery.min.js"></script>
    <script src="static/js/core/popper.min.js"></script>
    <script src="static/js/bootstrap-material-design.js"></script>
    <!--  Plugin for Date Time Picker and Full Calendar Plugin  -->
    <script src="static/js/plugins/moment.min.js"></script>
    <!--    Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
    <script src="static/js/plugins/bootstrap-datetimepicker.min.js"></script>
    <!--    Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
    <script src="static/js/plugins/nouislider.min.js"></script>
    <!-- Material Kit Core initialisations of plugins and Bootstrap Material Design Library -->
    <script src="static/js/material-kit.js?v=2.0.2"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script>
        $(document).ready(function() {
    $('.js-example-basic-multiple').select2();
});
      </script>

    
</body>

</html>